adbc-driver-manager==0.11.0
adbc-driver-postgresql==0.11.0
adbc-driver-sqlite==0.11.0
colorama==0.4.6
connectorx==0.3.1
greenlet==3.0.3
importlib-resources==6.4.0
loguru==0.7.2
mysql-connector-python==8.4.0
numpy==1.24.4
pandas==2.0.3
polars==0.20.25
psycopg2-binary==2.9.9
pyarrow==16.0.0
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
SQLAlchemy==2.0.29
typing-extensions==4.11.0
tzdata==2024.1
zipp==3.18.1
